.wrapper {

}
.search {
    width: 100%;
    background-color: red;
    color: white;
    height: 140px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;



}
.headline {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    margin-bottom: 20px;


}
.search__form {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30x;
    margin-bottom: 10px;

}
.search-bar {
    width: 75%;
    height: 30px;
    border: none;

}
.block-input {
    display: flex;
    width: 90%;
}
#search-btn {
    width: 25%;
    border: none;
    background-color: rgb(178, 178, 178);
    color: rgb(70, 70, 70);
    height: 30px;

}
.list {

    list-style: none;
}

::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(123, 123, 123)y;
}
.search-input {
    width: 100%;
    height: 30px;
    border: none;
}

.item {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    font-size: 20px;
    background: none;
    border: none
    /*content: "";*/

}

.cross {
    width: 8px;
    height: 8px;
    content: url("img/icons/cross.png");
    background: none;
    border: none;
    
}

/*
.item:active {
    text-decoration: line-through;
}
*/










